/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

body{
    font-family:'Montserrat', sans-serif; ;
}
/* BLOCCO SOPRA */

.container-partesopra{
    background-color: rgba(8,11,18,255);
    height: 120px;
    align-content: center;
}

.blocco-sopra{
    /* height: calc(100vh - 120px); */
    display: flex;
    justify-content: flex-end;
    
}

.button{
    border-radius: 9999px;
    background-color: #202121;
    color: white;
    padding: 10px 35px;
    border-style: groove;
    cursor: pointer;
    
}





/* BLOCCO MAIN */
.blocco-main{
    height: calc(100vh - 120px);
    background-color: violet;
    display: flex;
}

.blocco-main main{
    height: 100%;
    background-color: rgba(20,25,34,255);
    width: calc(100% - 300px);
    overflow: auto;
}


.parte-centrale{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
}

.parte-centrale a{
    text-decoration: none;
    color: #7e8085;
}

main h2{
    color: white;
}

.container-main{
    height: 100%;
    /* background-color: aqua; */
    /* border: black 2px dotted; */
    margin-left: 40px;
    margin-right: 40px;
    overflow: auto;
    margin-top: 20px;
    
    
}

.cover{
    display: flex;
    gap: 1%;
}
.blocchi{
    height: 330px;
    /* flex-basis: 100%; */
    /* border: black 2px dotted; */
    width: calc(100% / 6);
    margin-top: 10px;

} 

.blocchi h3{
    text-align: center;
    color: white;
}

.blocchi p{
    text-align: center;
    color: #7e8085;
}


.img-size{
    max-width: 100%;
}

.img-radius{
    border-radius: 9999px;
}

.title{
    height: 50px;
    margin-top: 40px;
}

.title p{
    color: #7e8085;
    margin-top: 10px;
    
}


/* BLOCCO SINISTRA */
.blocco-sinistra{
    height: 100%;
    width: 300px;
    background-color: black;
    /* border: 2px white dotted; */
    overflow: auto;
}

.content-nav{
    /* height: 20%; */
    /* background-color: wheat;
    /* display: flex;
    flex-wrap: wrap;
    border: 2px white dotted; */ 
    
}

.img-logo{
    padding: 20px;
    width: 70%;
}


.ul-nav{
    color: #7e8085;
    list-style-type: none;
    
}

.li-flex{
    
    padding: 10px 25px;
    display: flex;


}

.li-flex span{
    align-content: center;
    color: #7e8085;
    
}


.text-nav{
    color: white;
    display: flex;
    text-decoration: none;

}

.button-plus{
    padding: 10px 13px;
    border-radius: none;
    background-color: #7e8085;
    border-style: none;
}

.span-flex{
    display: flex;
    align-items: center;
}

.li-flex h2{
    color: white;
}

.li-flex p{
    font-size: 20px;
}



.blocco-left-down{
    background-color: black;
    height: 400px;
}


.blocco-left-down-1{
    /* background-color: red; */
    height: 40px;
    padding: 10px 25px;
    
    
}

.blocco-left-down-1 a{
    text-decoration: none;
    color: #7e8085;
   
}
.blocco-left-down-1 span{
    margin-left: 10px;
   
}


.button-install{
    border-radius: 9999px;
    padding: 1px 3px;
    background-color: black;
    border-color: #7e8085;
    border-style: groove;
    
}


.blocco-left-down-2{
    /* background-color: violet; */
    height: 50px;
    border-top: #7e8085 2px solid;
    width: 80%;
    margin-left: 25px;
    display: flex;
    
    
}


.blocco-left-down-2 h4{
    align-content: center;
    margin-left: 10px;
    color: white;
    margin-top: 15px;
    
}

.user-border{
    border: 2px solid;
    border-radius: 9999px;
    padding: 0px 3px;
    border-color: #7e8085;
    background-color: #7e8085;
    margin-top: 15px;
}

/* BLOCCO FOOTER */
footer{
    height: 120px;
    background-color:rgba(40,40,40,255);
    
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: #202121;
}

/* BLOCCO SINISTER E ICON */
.col{
    height: 120px;
    background-color: #202121;
    /* border: 2px solid black; */
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.col ul{
    list-style: none;
    align-content: center;
}


.col ul li h4{
    color: white;
}
.col ul li span{
    color: #7e8085;
}

.col a{
    align-content: center;
}



.img-sinister{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}


/* BLOCCO PLAYER */
.col-player{
    width: 50%;
}



/* BLOCCO ICON-RIGHT */
.icon-right{
    display: flex;
    gap: 30%;
}

.riga{
    border: 2px solid red;
}