/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

body{
    font-family:'Montserrat', sans-serif; ;
}
/* BLOCCO SOPRA */

.container-partesopra{
    background-color: rgba(8,11,18,255);
    height: 120px;
    align-content: center;
    position: sticky;
    top: 0;
    opacity: 0.5;
}

.blocco-sopra{
    /* height: calc(100vh - 120px); */
    display: flex;
    justify-content: flex-end;
    
}

.button{
    border-radius: 9999px;
    background-color: #202121;
    color: white;
    padding: 10px 35px;
    border-style: groove;
    cursor: pointer;
    
}





/* BLOCCO MAIN */
.blocco-main{
    height: calc(100vh - 120px);
    background-color: violet;
    display: flex;
}

.blocco-main main{
    height: 100%;
    background-color: rgba(20,25,34,255);
    width: calc(100% - 300px);
    overflow: auto;
}


.parte-centrale{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
}

.parte-centrale a{
    text-decoration: none;
    color: #7e8085;
    font-size: 12px;
}

main h2{
    color: white;
}

.container-main{
    /* height: 100%; */
    /* background-color: aqua; */
    /* border: black 2px dotted; */
    margin-left: 40px;
    margin-right: 40px;
    overflow: auto;
    margin-top: 10px;
    
    
}

.cover{
    display: flex;
    gap: 1%;
}
.blocchi{
    /* height: 330px; */
    /* flex-basis: 100%; */
    /* border: black 2px dotted; */
    width: calc(100% / 6);
    margin-top: 30px;

} 

.blocchi h3{
    text-align: center;
    color: white;
    margin-top: 10px;
}

.blocchi p{
    text-align: center;
    color: #7e8085;
}


.img-size{
    max-width: 100%;
}

.img-radius{
    border-radius: 9999px;
}

.title{
    height: 50px;
    margin-top: 40px;
}

.title p{
    color: #7e8085;
    margin-top: 10px;
    
    
}


/* BLOCCO SINISTRA */
.blocco-sinistra{
    height: 100%;
    width: 300px;
    background-color: black;
    /* border: 2px white dotted; */
    overflow: hidden;
}



.img-logo{
    padding: 20px;
    width: 70%;
}


.ul-nav{
    color: #7e8085;
    list-style-type: none;
    
}

.li-flex{
    
    padding: 10px 25px;
    display: flex;


}

.nome-set{
    text-decoration: none;
    color: #7e8085;
}

.nome-set:hover{
    color: white;
}

.text-nav{
    color: #7e8085;
    display: flex;
    text-decoration: none;

}



.text-nav:hover{
    color: white;
}

.text-nav span{
    align-content: center;
    

}

.button-plus{
    padding: 10px 13px;
    border-radius: none;
    background-color: #7e8085;
    border-style: none;
}




.a-flex{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7e8085;
    
}

.a-flex span{
    margin-left: 10px;
}
.li-flex h2{
    color: white;
}

.li-flex p{
    font-size: 15px;
}



.blocco-left-down{
    /* background-color: black; */
    height: 500px;
}


.blocco-left-down-1{
    /* background-color: red; */
    height: 40px;
    padding: 10px 25px;
    
    
}

.blocco-left-down-1 a{
    text-decoration: none;
    color: #7e8085;
   
}
.blocco-left-down-1 span{
    margin-left: 10px;
   
}


.button-install{
    border-radius: 9999px;
    padding: 1px 3px;
    background-color: black;
    border-color: #7e8085;
    border-style: groove;
    
}


.blocco-left-down-2{
    /* background-color: violet; */
    height: 50px;
    border-top: #7e8085 2px solid;
    width: 80%;
    margin-left: 25px;
    display: flex;
    
    
}


.blocco-left-down-2 h4{
    align-content: center;
    margin-left: 10px;
    color: white;
    margin-top: 15px;
    
}

.user-border{
    border: 2px solid;
    border-radius: 9999px;
    padding: 0px 3px;
    border-color: #7e8085;
    background-color: #7e8085;
    margin-top: 15px;
}

/* BLOCCO FOOTER */
footer{
    height: 120px;
    background-color:rgba(40,40,40,255);
    
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: #202121;
}

/* BLOCCO SINISTER E ICON */
.col{
    height: 120px;
    background-color: #202121;
    /* border: 2px solid black; */
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.col ul{
    list-style: none;
    align-content: center;
}


.col ul li h4{
    color: white;
}
.col ul li span{
    color: #7e8085;
}

.col a{
    align-content: center;
}



.img-sinister{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}


/* BLOCCO PLAYER */
.col-player{
    width: 50%;
}



/* BLOCCO ICON-RIGHT */
.icon-right{
    display: flex;
    gap: 30%;
}

.riga{
    border: 2px solid red;
}







/* *********************MEDIA QUERYYYY **********************/
@media screen and (max-width:552px) and (min-width: 0px) {
   
    .blocco-sinistra{
        width: 80px;
    }
   
    
    .blocco-main main {
        
        width: calc(100% - 80px);
        
    
    }
    
    .img-logo{
        display: none;
    }
    
    #img-552{
        display: flex;
        width: 70%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .li-flex{
        margin-left: 15px;
        margin-top: 15px;
        padding: 0;
        display:inline;
        
        
    }

    .li-flex span{
        display: none;
    }

    .li-flex img{
        width: 50%;
        margin-left: 20px;
        
        
    }

    .li-none{
        display: none;
    }

    .blocco-left-down-1 span{
        display: none;
    }
    .blocco-left-down-2 h4{
        display: none;
    }
    .blocco-left-down-2 {
        border: none;
    }

    
    
    .blocco-left-down-1 {
        margin-left: 10px;
    }
    
    .blocco-left-down{
        height: 350px;
    }
    
    
    
    
    .margin-scopri-1{
        margin-top: 0px;
    }
    
    
    
    .parte-centrale{
        flex-wrap: wrap;
        gap: 5%;
    }

    .margin-scopri{
        margin-top: 30px;
    }

    .margin-scopri-3{
        margin-top: 30px;
    }

    .margin-scopri-1{
        margin-top: 30px;
    }

    .cover{
        flex-wrap: wrap;
        /* width: none; */
        gap: 5%;
    }

    .blocchi{
        flex-basis: 45%;
    }

    .container-main{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .blocchi p{
        font-size: 12px;
    }

    .blocchi h3{
        font-size: 12px;
    }
}



/* *********************MEDIA QUERYYYY **********************/

@media screen and (max-width:639px) and (min-width: 553px) {
    .parte-centrale{
        flex-wrap: wrap;
        gap: 5%;
    }

    .margin-scopri-3{
        margin-top: 30px;
    }


    #img-552{
        display: none;
    } 

    .cover{
        flex-wrap: wrap;
        /* width: none; */
        gap: 5%;
    }

    .blocchi{
        flex-basis: 45%;
    }

    .container-main{
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .margin-scopri-1{
        margin-top: 30px;
    }
    .margin-scopri{
        margin-top: 30px;
    }

    .blocchi p{
        font-size: 12px;
    }

    .blocchi h3{
        font-size: 12px;
    }
}


@media screen and (max-width:878px) and (min-width: 640px) {

    #img-552{
        display: none;
    } 

    .parte-centrale{
        flex-wrap: wrap;
        gap: 5%;
    }

    .margin-scopri-3{
        margin-top: 30px;
    }

    .cover{
        flex-wrap: wrap;
        /* width: none; */
        gap: 5%;
    }

    .blocchi{
        flex-basis: 20%;
    }

    .container-main{
        margin-left: 20px;
        margin-right: 20px;
    }

    .blocchi p{
        font-size: 12px;
    }

    .blocchi h3{
        font-size: 12px;
    }

    
    
}


/* *********************MEDIA QUERYYYY **********************/
@media screen and (max-width:1920px) and (min-width: 879px) {
    #img-552{
        display: none;
    } 
}